.path {
  display: flex;
  justify-content: flex-start;
  padding: 10px 0;
  gap: 5px;
  &-item {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 28px;
    letter-spacing: -0.01em;
    color: #a6a9ac;
    &-link {
      font-family: "DM Sans";
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 28px;
      letter-spacing: -0.01em;
      color: #a6a9ac;
      text-decoration: none;
      cursor: pointer;
    }
    &-span {
      color: white;
      font-family: "DM Sans";
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 28px;
      letter-spacing: -0.01em;
      text-decoration: none;
      cursor: pointer;
    }
  }
}
