@media screen and(max-width: 470px) {
  .casestudy {
    display: none;
  }
}
@media screen and(min-width: 876px) {
  .casestudy {
    padding: 80px 0;
    background: #0c1013;
    overflow: hidden;
    &__list {
      display: flex;
      flex-direction: column;
      margin-top: 35px;
      gap: 160px;
      &-item {
        &-images {
          display: flex;
          justify-content: space-between;
          gap: 230px;
          margin-top: 90px;
          &-item {
            &-head {
              font-family: "DM Sans";
              font-style: normal;
              font-weight: 500;
              font-size: 25px;
              line-height: 33px;
              letter-spacing: -0.01em;
              color: #fcfcfc;
              margin-bottom: 30px;
              margin-top: -60px;
            }
            &-img {
              width: 100%;
              max-width: 870px;
            }
            &-toomb {
              position: relative;
              display: flex;
              flex-direction: column;
              gap: 46px;
            }
            &-screen2 {
              z-index: 3;
            }
            &-screen3 {
              position: absolute;
              top: 50%;
              right: 180px;
              transform: translateY(-50%);
            }

            &-button {
              display: flex;
              margin-left: auto;
              margin-top: 40px;
              align-items: center;
              border: none;
              background: #c3882f;
              border-radius: 5px;
              padding: 20px 60px;
              font-family: "DM Sans";
              font-style: normal;
              font-weight: 700;
              font-size: 15px;
              line-height: 20px;
              text-align: center;
              color: #fcfcfc;
              cursor: pointer;
              &-icon {
                margin-left: 10px;
              }
            }
          }
        }
        &-images2 {
          display: flex;
          justify-content: space-between;
          gap: 230px;
          flex-direction: row-reverse;
          &-item {
            &-head {
              font-family: "DM Sans";
              font-style: normal;
              font-weight: 500;
              font-size: 25px;
              line-height: 33px;
              letter-spacing: -0.01em;
              color: #fcfcfc;
              text-align: right;
              margin-bottom: 30px;
              margin-top: -60px;
            }
            &-img {
              width: 100%;
              max-width: 870px;
            }
            &-toomb {
              position: relative;
              display: flex;
              flex-direction: column;
              gap: 46px;
            }
            &-screen2 {
              z-index: 3;
            }
            &-screen3 {
              position: absolute;
              top: 50%;
              left: 180px;
              transform: translateY(-50%);
            }
            &-button {
              display: flex;
              margin-right: auto;
              margin-top: 40px;
              align-items: center;
              border: none;
              background: #c3882f;
              border-radius: 5px;
              padding: 20px 60px;
              font-family: "DM Sans";
              font-style: normal;
              font-weight: 700;
              font-size: 15px;
              line-height: 20px;
              text-align: center;
              color: #fcfcfc;
              &-icon {
                margin-left: 10px;
              }
            }
          }
        }
      }
    }
  }
}
